body {
   background-color: #4ABDAC;
   color: #FFFFFF;
   font-family: Georgia, serif;
}
header {
   background-color: #F7B733;
   height: 75px;
}
 
h1 {
   padding: 15px;
}

h2{
  float: right;
  padding-right: 30px;
}

li{
    padding: 5px;
    display:inline;
}

#navigation {
   height: 30px;
   width: 30%;
   margin-left: auto;
   margin-right: auto;
   min-width: 380px;
}
 
#navigation li:hover {
   border-bottom: 1px #FC4A1A solid;
}
#content {
   background-color: #DFDCE3;
   width: 50%;
   margin: 0 auto;
}
div {
   background-color: #FC4A1A;
   width: 250px;
   height: 150px;
   padding: 10px;
   margin: 20px;
}

#topRight{
   float: right;
    /*margin-bottom: 0px;
    margin-top: 0px;*/
}

#bottomRight{
   float: right;
    /*margin-bottom: 0px;
    margin-top: 0px;*/
}


#topLeft{
   width: 250px;
}

#bottomLeft{
   width: 250px;
}

