/*Styling for name*/
h1{
  color : #002255;
  background-color : #66AABB;
}

/*Styling for favorite quote*/
h2{
  color : #885588;
  background-color : #FFDEAD;

}

/*Styling for list titles*/
h3{
  color : #552255;
}