/*Styling for name*/
h1{
  color : #002255;
  background-color : #66AABB;
  font-weight : 600;
}

/*Styling for favorite quote*/
h2{
  color : #885588;
  background-color : #FFDEAD;
  font-family : serif;
  font-style : italic;
}

/*Styling for list titles*/
h3{
  color : #552255;
  font-family : sans-serif;
}

p{
  border: 2px black solid;
}